*{
    box-sizing: border-box;
}

body{
    margin: 50px;
    font-size: 17px large;
    font-family: Fuzzy Bubbles;
    background-color: cadetblue;        
}
h1{
    text-align: left;

}

p{
    color: #c92222;
    font-size: 20px;
    font-family:Fuzzy Bubbles;
}
table{
    width: 600px;
    padding: 1px;
    border: 1px solid black ;
}

table thead{
    background-color: rgb(22, 130, 150);
}      

th, td{
    padding: 10px;
    border: 1px solid black;
}

tbody td:hover{
    background-color: rgb(171, 194, 186);
}

button{
    background-color: rgb(22, 130, 150);
    padding: 10px; 
    cursor: pointer;
}
button:hover{
    color: rgb(171, 197, 186);
}
a{
    text-decoration: none;
    color: black;
    
}
a:hover{
    color: rgb(171, 197, 186);
}
